<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diff - a free debating platform</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway" rel="stylesheet">
    <script type="application/json" id="bootstrap">
<%= @bootstrap %>
    </script>
  </head>
  <body>
    <div id="react-root"></div>
    <script src="/bundle.js"></script>
  </body>
</html>
