<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello React</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css" />
    <script type="application/json" id="bootstrap">
<%= @bootstrap %>
    </script>
  </head>
  <body>
    <div id="react-root"></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
